[submodule "locale"]
	path = locale
	url = https://github.com/SeoaV2/SeoaBot-Locale.git
	branch = master
[submodule "commands"]
	path = commands
	url = https://github.com/SeoaV2/SeoaBot-Commands.git
	branch = master
[submodule "extensions/CodeQuiz"]
	path = extensions/CodeQuiz
	url = https://github.com/SeoaV2/SeoaBot-CodeQuiz.git
	branch = master
[submodule "extensions/Cycles"]
	path = extensions/Cycles
	url = https://github.com/SeoaV2/SeoaBot-Cycles.git
	branch = master
